* {
    box-sizing: border-box;
  }
  body {
  font-family: Arial, sans-serif;
  padding: 12px;
  margin: 0;
  min-height: 100%;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #333;
  }
  h1 {
    font-size: 38px;
    line-height: 44px;
    margin-top: 20px;
  }
  h2 {
    font-size: 32px;
    line-height: 36px;
    margin-top: 20px;
  }
  h3 {
    font-size: 24px;
    line-height: 30px;
    margin-top: 20px;
  }
  h4 {
    font-size: 18px;
    line-height: 24px;
    margin-top: 10px;
  }
  h5 {
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
  }
  h6 {
    font-size: 12px;
    line-height: 18px;
    margin-top: 10px;
  }
  p {
    margin-top: 0;
    margin-bottom: 10px;
  }
  /* Header/Blog Title */
  .header {
    padding: 30px;
    text-align: center;
    background: white;
  }
  .header h1 {
    font-size: 50px;
  }
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
  }
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }
  * {
    box-sizing: border-box;
  }
  /* Container for flexboxes */
  .row {
    display: -webkit-flex;
    display: flex;
  }
  /* Create three equal columns that sits next to each other */
  .column {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
    height: 500px; /* Should be removed. Only for demonstration */
  }
  /* Style the footer */
  .footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .row {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }
/*-------------------------------------hobby----------------------------------------*/
body,
html,
main
{
  height: 100%;
  margin: auto 0;
  font-family: 'Raleway','Microsoft JhengHei';
}
.fixed-bg {
  min-height: 500px;
  background-size: cover;
  -webkit-background-size: cover !important; 
  -moz-background-size: cover !important; 
  -o-background-size: cover; 
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
  line-height: 1.5;    
}
.fixed-erv {
  min-height: 350px;
  background-size: cover;
  -webkit-background-size: cover !important; 
  -moz-background-size: cover !important; 
  -o-background-size: cover; 
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
  line-height: 1.5;    
}
h1 {
  text-align: center;
  font-size: 3.5em;
  color: rgba(255, 255, 255, 1);
}
h2{
  text-align: center;
}
img {
  width: 100%;
  height: auto;
}
.main-text {
  font-size: 5.5em;
  line-height:0px;
}
.sub-text{
  color:#fff;
  line-height:0px;
}
.text-box {
  background: rgba(255, 255, 255, 0.95);
  padding: 20px;
  max-width: 1000px;
}
.fixed-bg h2 {
  font-size: 4em;
}
.fixed-bg p {
  text-align: center;
  max-width: 1000px;
  font-size: 1.2em;
  text-align: left;
}
.index-1{
  background-image: url("afbeldingen/mijn website.jpg");
}
.index-2{
  background-image: url("afbeldingen/kwaliteiten.jpg");
}
.index-3{
  background-image: url("afbeldingen/bio.jpg");
}
.erv-1{
  background-image: url("afbeldingen/tekenen.jpg");
}
.bg-1 {
  background-image: url("afbeldingen/lezen.jpg");
}
.bg-2 {
  background-image: url("afbeldingen/webdesign.jpg");
}
.bg-3 {
  background-image: url("afbeldingen/tekenen.jpg");
}
.bg-4 {
  background-image: url("afbeldingen/games.jpg");
}
.bg-5 {
  background-image: url("afbeldingen/piano.jpg");
}
.bg-6 {
  background-image: url("afbeldingen/IMG_2128.jpg");
}
/*--------------------------------ervaring--------------------------------------*/
.container {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 100vh;
}
.box {
  flex: 1;
  overflow: hidden;
  transition: .5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0,0,0,.1);
  line-height: 0;
}
.box > img {
  width: 200%;
  height: calc(100% - 10vh);
  object-fit: cover; 
  transition: .5s;
}
.box > span {
  font-size: 3.8vh;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.6;
}
.box:hover { flex: 1 1 50%; }
.box:hover > img {
  width: 100%;
  height: 100%;
}
/*---------------------------------cv------------------------------------------*/
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }
html
{
	font-size:100%;
}
body
{
	-webkit-font-smoothing:antialiased;
	color:#333332;
	font-family:Lora, serif;
	font-size:18px;
	font-weight:400;
	line-height:1.4;
	text-rendering:optimizeLegibility;
}
.skill-set li:hover
{
	background:#3498db;
}
h1
{
	color:rgba(0,0,0,.75);
}
.wrapper
{
	height:100%;
}
.left
{
	background-color:rgba(0,0,0,.025);
	border-right:1px solid rgba(0,0,0,.05);
	height:100%;
	margin-left:-1px;
	min-width:256px;
	position:fixed;
	width:33.33%;
}
.right
{
	float:right;
	height:100%;
	position:relative;
	width:66.66%;
}
.name-hero
{
	background:rgba(0,0,0,.001);
	bottom:0;
	height:290px;
	left:0;
	margin:auto;
	position:absolute;
	right:0;
	top:0;
	width:85%;
}
.me-img
{
	background:url(afbeldingen/photo_me.png) no-repeat center center ;
	background-size:100%;
  background-position:0px;
	border-radius:100%;
	height:230px;
	margin:0 auto;
	position:relative;
	width:150px;
}
.name-hero h1
{
	font-family:Open Sans, sans-serif;
	font-size:1.5em;
	text-align:center;
}
.name-hero h1 em
{
	color:rgba(0,0,0,.3);
	font-style:normal;
	font-weight:700;
}
.name-hero p
{
	color:rgba(0,0,0,.75);
	font-size:.75em;
	line-height:1.5;
	margin:0 8px 0 0;
	text-align:center;
}
.name-hero .name-text
{
	margin:0 auto;
	width:85%;
}
.inner
{
	margin:0 auto;
	max-width:975px;
	padding:3em;
}
.inner h1
{
	font-size:1.75em;
}
.inner p
{
	color:rgba(0,0,0,.5);
}
.inner p em
{
	color:rgba(0,0,0,1);
	font-style:normal;
}
.inner section
{
	margin:100px auto;
}
ul
{
	list-style-type:none;
	margin-top:-10px;
	max-width:570px;
	padding:0;
}
.skill-set li
{
	background:rgba(0,0,0,.75);
	border-radius:5px;
	color:#FFF;
	display:inline-block;
	list-style:none;
	margin:15px 15px 0 0;
	padding:10px;
	text-align:justify;
}
@media screen and (max-width: 48em) {
	.right,.left
	{
		float:none;
    position:relative !important;
		width:100%;
    min-height:500px;
	}
  .handmade {
  text-align:center !important;
  margin-top:0px !important;
}
}
@media screen and (max-width: 75em) {
    body
{ font-size:16px;}
}
@media screen and (max-width: 60em) {
    body
{ font-size:14px;}
}
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.handmade {
  text-align:right;
  margin-top:100px;
}
.handmade em {
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.25em;
  margin-left:5px;
}
 /*--------------------------------form----------------------------------------*/
 html {
   font-family: 'Montserrat', Arial, sans-serif;
   -ms-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
 }
 body {
   background: #ffffff;
 }
 button {
   overflow: visible;
 }
 button, select {
   text-transform: none;
 }
 button, input, select, textarea {
   color: #5A5A5A;
   font: inherit;
   margin: 0;
 }
 input {
   line-height: normal;
 }
 textarea {
   overflow: auto;
 }
 #container {
   border: solid 3px #474544;
   max-width: 1500px;
   margin: 60px auto;
   position: relative;
 }
 form {
   padding: 37.5px;
   margin: 50px 0;
 }
 h1 {
   color: #474544;
   font-size: 32px;
   font-weight: 700;
   letter-spacing: 7px;
   text-align: center;
   text-transform: uppercase;
 }
 .underline {
   border-bottom: solid 2px #474544;
   margin: -0.512em auto;
   width: 80px;
 }
 
 .email {
   float: right;
   width: 45%;
 }
 input[type='text'], [type='email'], select, textarea {
   background: none;
   border: none;
   border-bottom: solid 2px #474544;
   color: #474544;
   font-size: 1.000em;
   font-weight: 400;
   letter-spacing: 1px;
   margin: 0em 0 1.875em 0;
   padding: 0 0 0.875em 0;
   text-transform: uppercase;
   width: 100%;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
   -o-box-sizing: border-box;
   box-sizing: border-box;
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   -ms-transition: all 0.3s;
   -o-transition: all 0.3s;
   transition: all 0.3s;
 }
 input[type='text']:focus, [type='email']:focus, textarea:focus {
   outline: none;
   padding: 0 0 0.875em 0;
 }
 .message {
   float: none;
 }
 .name {
   float: left;
   width: 45%;
 }
 select {
   background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
   outline: none;
   -moz-appearance: none;
   -webkit-appearance: none;
 }
 select::-ms-expand {
   display: none;
 }
 .subject {
   width: 100%;
 }
 .telephone {
   width: 100%;
 }
 textarea {
   line-height: 150%;
   height: 150px;
   resize: none;
   width: 100%;
 }
 ::-webkit-input-placeholder {
   color: #474544;
 }
 :-moz-placeholder { 
   color: #474544;
   opacity: 1;
 }
 ::-moz-placeholder {
   color: #474544;
   opacity: 1;
 }
 :-ms-input-placeholder {
   color: #474544;
 }
 #form_button {
   background: none;
   border: solid 2px #474544;
   color: #474544;
   cursor: pointer;
   display: inline-block;
   font-family: 'Helvetica', Arial, sans-serif;
   font-size: 0.875em;
   font-weight: bold;
   outline: none;
   padding: 20px 35px;
   text-transform: uppercase;
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   -ms-transition: all 0.3s;
   -o-transition: all 0.3s;
   transition: all 0.3s;
 }
 #form_button:hover {
   background: #474544;
   color: #F2F3EB;
 }
 @media screen and (max-width: 768px) {
   #container {
     margin: 20px auto;
     width: 95%;
   }
 }
 @media screen and (max-width: 480px) {
   h1 {
     font-size: 26px;
   }
   .underline {
     width: 68px;
   }
   #form_button {
     padding: 15px 25px;
   }
 }
 @media screen and (max-width: 420px) {
   h1 {
     font-size: 18px;
   }
   .underline {
     width: 53px;
   }
   input[type='text'], [type='email'], select, textarea {
     font-size: 0.875em;
   }
 }

/*--------------------------------End form----------------------------------------*/
